.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0; 
    font-size: 1rem;
    display: inline-block;
    line-height: normal;
    border-bottom: 1px solid #aaa;
    padding-bottom: 0.3em;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1.5rem;
    padding-left: 0;

    & > li {
      margin: 1rem 0;
      .section > .desc > h3 {
        font-size: calc(1rem * var(--fontOptical));
        line-height: 1.3;
      }
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}
