@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!


img { display: block !important; margin-left: auto !important; margin-right: auto !important; } .markdown-source-view.mod-cm6 .cm-content > * { margin: auto auto !important; }

/* Center tables on the page */
.markdown-preview-view table {
    margin-left: auto;
    margin-right: auto;
}
span.caption {
  display:table;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3%;
  text-align: center !important;
}


#banner {
    margin: 3em 0;
    filter: invert(0%);
    opacity: 0.85;
  
    [saved-theme="dark"] & {
      filter: invert(100%);
    }
  }
  #index {
    & > .bio {
      display: flex;
      gap: 1.5em;
      z-index: 1;
      position: relative;
  
      @media screen and (max-width: 1440px) {
        flex-direction: column-reverse !important;
        gap: 4em;
      }
  
      & > .writing-sidebar {
        flex: 0 0 30%;
  
        & > div {
          margin-bottom: 2em;
        }
  
        & ul {
          list-style: none;
          padding-left: 0;
          margin-left: 0;
          z-index: 0;
        }
  
        & > div > a {
          opacity: 0.6;
        }
  
        & h2 {
          font-size: 1.4rem;
          margin: 0.75em 0;
        }
        
        & li {
          margin-bottom: 0.8em;
        }
        
        & ol {
          display: list-item;
          padding: 0;
          margin: 0;
        }
  
        & h3 {
          margin: 0;
        }
  
        & .meta {
          margin: 0.2em 0;
        }
  
        & .tags > li > a {
          font-size: 0.9em;
          font-weight: 600;
        }
      }
    }
  }

hr {
    overflow: visible;
    padding: 0;
    margin: 4em auto;
    border: none;
    color: var(--gray);
    text-align: center;
    width: 40%;
    border-color: var(--gray);

    &:after {
        content: "* * *";
        display: inline-block;
        margin: -1em 0 0.5em;
        font-size: 1.5em;
        padding: 0.5em 1em;
        background: var(--light);
    }
}

.meta,
.content-meta {
  font-family: myfont; //var(--bodyFont);
  font-size:x-small;
}


// Underline links
a {
    font-weight: bold;
    text-decoration: underline;
    color: var(--secondary);
    transition: color 0.2s ease;
    &:hover {
        color: var(--tertiary) !important;
    }
    &.internal {
        text-decoration: none;
        background-color: var(--highlight);
        padding: 0 0.125em 0.0625em;
        border-radius: 5px;
    }
}

h1.page-title a {
    text-decoration: none;
    color: var(--dark);
    font-family: myfont;
    // font-size: x-large;//1.2vw;
  }

h2 {
border-bottom: 1px solid #aaa;
margin: 1;
padding-bottom: 0.3em;
padding-top: 0.5em;
}

p-code-font {
font-size: 0.9em;
color: var(--dark);
font-family: var(--codeFont);
border-radius: 5px;
padding: 0.1rem 0.2rem;
// background: var(--lightgray);
}

strong .text-highlight {
    background-color: #86ff8846;
    padding: 0 0.1rem;
    border-radius: 5px;
    font-weight: normal;
  }

em {
color: var(--italic);
}

em strong {
    // background-color: #f3ec78;
    background-image: linear-gradient(45deg, var(--gradient1), var(--gradient2));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: 900;
    padding-right: 0.7em; //prevent cutting off on the right
    margin-right: -0.7em;
  }

// // remove tags in tags list page
// .page-listing .tag-link {
//     display: none;
//   }


// force icons on same row in left sidebar
.forced-row {
    // flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    padding: 0;
    // padding-top: 50%;     /* Set padding-top to same percentage as width */
    position: relative;
    & .search {
        flex-grow: 1;
        // max-width: unset; // Remove any max-width limitation
        // min-width: 0; // Allow it to shrink properly if needed
    }
    & .darkmode{
        // flex-shrink: 0;
        // margin-right:1rem;
        margin: 0.4rem;
    }
    // @media all and (min-width: $tablet) {
    @media all and ($mobile) {
        justify-content: flex-end;
    }
  }

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// wikipedia style//////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

/* infobox callout */
.callout[data-callout="infobox"] {
    background-color: var(--wikibackground);
    --callout-icon: none;
    border: 1px solid var(--wikiborder);
    // border-radius: 0px;
    float: right;
    width: 300px;
    margin: 24px 0px 10px 10px;
    padding: 3px;
    // opacity:0.1;
  }
  
  /* mobile breakpoint */
  @media (max-width: 767px) {
    .callout[data-callout="infobox"] {
      width: 100%;
      float: none;
    }
  }
  
  @media (max-width: 480px) {
    .callout[data-callout="infobox"] {
      width:100%;
      float: none;
    }
  }
  
  /* stack infoboxes vertically with 'clear' */
  .callout[data-callout="infobox"] {
    clear: right;
  }
  
  /* Remove Callout Title */
  .callout[data-callout="infobox"] .callout-title {
    display: none;
  }
  
  
  /* H2 Title */
  .callout[data-callout="infobox"] h4 {
    margin: 0px 0px 0px 0px ;
    width: 100%;
    font-family: var(--bodyFont);
    font-size: $calloutBoxFontsize;
    text-align: center;
    padding-left: 38px;
    border-radius: 2px;
    background-color: var(--wikiheading);
    // padding: 0px 0px 0px 19px;
    // box-sizing: border-box;
    width: auto;
  }
  
  /* H3 Title */
  .callout[data-callout="infobox"] h5 {
    margin: 4px 0px 0px ;
    width: 100%;
    font-family: var(--bodyFont);
    font-size: $calloutBoxFontsize;
    text-align: center;
    padding-left: 38px;
    border-radius: 2px;
    background-color: var(--wikiheading);
    // padding: 0px;
    // box-sizing: border-box;
    width: auto;
  }
  
  /* Spacing */
  .callout[data-callout="infobox"] p {
    margin-block-start: 10px;
    margin-block-end: 0px;
    width: 100%;
  }
  
  /* Image */
  .callout[data-callout="infobox"] img {
    display: block;
    margin: auto;
    padding: 0px;
    text-align: center;
  }
  
  /* Table */
  .callout[data-callout="infobox"] table {
    margin: 0px !important;
    width: 100%;
    font-size: $calloutBoxFontsize;
    border: 0px solid var(--wikiborder);
    background-color: var(--wikibackground);
  }
  
  .callout[data-callout="infobox"] th {
    padding-left: 12px; 
    padding-right: 0px;
    vertical-align: top;
    // font-weight:normal;
    display:none;
  }
  
  .callout[data-callout="infobox"] td {
   padding-left: 12px; 
   padding-right: 0px;
   vertical-align: top;
  }
  
  
  
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  // wikipedia CAPTION CALLOUT////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////
  
  /*----caption left callout----*/
  .callout[data-callout="caption_left"] {
    --color: var(--wikibackground);
    --border: var(--wikiborder);
    --bg: var(--wikibackground);
    float: left;
    max-width: 40%;
    padding: 6px;
    margin: 24px 1cm 2px 0px; /*top right bottom left*/
  }
  
  .callout[data-callout="caption_left"] > .callout-title {
    display: none;
  }
  
  .callout[data-callout="caption_left"] img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  .callout[data-callout="caption_left"] p {
    text-align: left;
    padding: 2px;
    margin: auto;
    font-size: $calloutBoxFontsize;
  }
  
  /* mobile breakpoint */
  @media (max-width: 767px) {
    .callout[data-callout="caption_left"] {
      max-width: 50%;
    }
  }
  
  /*----caption center callout----*/
  .callout[data-callout="caption"] {
    --color: var(--wikibackground);
    --border: var(--wikiborder);
    --bg: var(--wikibackground);
    padding: 6px;
    max-width: 80%;
    margin: auto;
  }
  
  .callout[data-callout="caption"] > .callout-title {
    display: none;
  }
  
  .callout[data-callout="caption"] img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  .callout[data-callout="caption"] p {
    text-align: center;
    padding: 2px;
    margin: auto;
    font-size: $calloutBoxFontsize;
  }
  
  /*----caption right callout----*/
  .callout[data-callout="caption_right"] {
    --color: var(--wikibackground);
    --border: var(--wikiborder);
    --bg: var(--wikibackground);
    float: right;
    max-width: 40%;
    padding: 6px;
    margin: 24px 0px 2px 0.5cm;
  }
  
  .callout[data-callout="caption_right"] > .callout-title {
    display: none;
  }
  
  .callout[data-callout="caption_right"] img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  .callout[data-callout="caption_right"] p {
    text-align: left;
    padding: 2px;
    margin: auto;
    font-size: $calloutBoxFontsize;
  }
  
  /* mobile breakpoint */
  @media (max-width: 767px) {
    .callout[data-callout="caption_right"] {
      max-width: 50%;
    }
  }